<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <div class="jumbotron">

          <div class="container">
            <table>
              <tr>
                <th>User Id</th>
                <th>Stars</th>
              </tr>
              <tr>
                {% for i in leaderboard_stars %}
                <td>{{i.user_id}}</td>
                <td>{{i.stars}}</td>
              </tr>
            </table>
          </div>
        {% endfor %}
      </div>

    </div>
  </body>
</html>
