<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Match ID!</h1>
        <div class="container">
          <form method="POST">
            {% csrf_token%}
            {% for i in players %}
            <div class="form-group">
              <input type="number" name="perfomance" min="5" max='10'>
              <label for="player">Player ID:{{i.player_id}}</label>
              <label for="player">Player Name:{{i.player_name}}</label>
              <span class="checkmark"></span>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-warning margin-bottom button">Submit</button>
          </form>
        </div>
      </div>

    </div>
    <!-- BOOTSTRAP AND JQUERY LINKS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
