<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href='{% static "Yorking/css/team_selection.css"  %}'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Enter the Performances!</h1>
        <div class="container">
          <form action="{% url 'Yorking:perfomance_save' %}" method="POST">
            {% csrf_token %}
            <h2>Country One:</h2>

            <h3>Batsman:</h3>
            {% for i in batsmanone_selected %}
            <div class="form-group">
              <!-- <label for="player">Player ID:{{i.player_id}}</label> -->
              <label for="player" style="color:#ff9900">{{i.player_name}}</label>
              <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Runs</label>
              <input type="number" name="{{i.player_id}}" min="0" max="150">
              <span class="checkmark"></span>
            </div>
            {% endfor %}

            <h3>Baller:</h3>
            {% for i in ballerone_selected %}
            <div class="form-group">
              <!-- <label for="player">Player ID:{{i.player_id}}</label> -->
              <label for="player" style="color:#ff9900">{{i.player_name}}</label>
              <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Catches</label>
              <input type="number" name="{{i.player_id}}" min="0" max="9">
              <span class="checkmark"></span>
            </div>
            {% endfor %}

            <h3>Wicket Keeper:</h3>
            {% for i in wicketkeeperone_selected %}
            <div class="form-group">
              <!-- <label for="player">Player ID:{{i.player_id}}</label> -->
              <label for="player" style="color:#ff9900">{{i.player_name}}</label>
              <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wickets</label>
              <input type="number" name="{{i.player_id}}" min="0" max="9">
              <span class="checkmark"></span>
            </div>
            {% endfor %}

            <h3>All Rounder:</h3>
            {% for i in allrounderone_selected %}
            <div class="form-group">
              <!-- <label for="player">Player ID:{{i.player_id}}</label> -->
              <label for="player" style="color:#ff9900">{{i.player_name}}</label>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <label>Runs:</label>
              <input type="number" name="runs{{i.player_id}}" min="0" max="150">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <label>Catches:</label>
              <input type="number" name="catches{{i.player_id}}" min="0" max="9">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <label>Wickets:</label>
              <input type="number" name="wickets{{i.player_id}}" min="0" max="9">
              <span class="checkmark"></span>
            </div>
            {% endfor %}

            <br>
            <h2>Country Two:</h2>

            <h3>Batsman:</h3>
            {% for i in batsmantwo_selected %}
            <div class="form-group">
              <!-- <label for="player">Player ID:{{i.player_id}}</label> -->
              <label for="player" style="color:#ff9900">{{i.player_name}}</label>
              <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Runs</label>
              <input type="number" name="{{i.player_id}}" min="0" max="150">
              <span class="checkmark"></span>
            </div>
            {% endfor %}

            <h3>Baller:</h3>
            {% for i in ballertwo_selected %}
            <div class="form-group">
              <!-- <label for="player">Player ID:{{i.player_id}}</label> -->
              <label for="player" style="color:#ff9900">{{i.player_name}}</label>
              <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Catches</label>
              <input type="number" name="{{i.player_id}}" min="0" max="9">
              <span class="checkmark"></span>
            </div>
            {% endfor %}

            <h3>Wicket Keeper:</h3>
            {% for i in wicketkeepertwo_selected %}
            <div class="form-group">
              <!-- <label for="player">Player ID:{{i.player_id}}</label> -->
              <label for="player" style="color:#ff9900">{{i.player_name}}</label>
              <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wickets</label>
              <input type="number" name="{{i.player_id}}" min="0" max="9">
              <span class="checkmark"></span>
            </div>
            {% endfor %}

            <h3>All Rounder:</h3>
            {% for i in allroundertwo_selected %}
            <div class="form-group">
              <!-- <label for="player">Player ID:{{i.player_id}}</label> -->
              <p></p>
              <label for="player" style="color:#ff9900">{{i.player_name}}</label>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <label>Runs:</label>
              <input type="number" name="runs{{i.player_id}}" min="0" max="150">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <label>Catches:</label>
              <input type="number" name="catches{{i.player_id}}" min="0" max="9">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <label>Wickets:</label>
              <input type="number" name="wickets{{i.player_id}}" min="0" max="9">
              <span class="checkmark"></span>
            </div>
            {% endfor %}
            <br><br>
            <button type="submit" class="btn btn-warning margin-bottom button">Submit</button>
          </form>
        </div>
      </div>

    </div>
    <!-- BOOTSTRAP AND JQUERY LINKS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
