<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>
  <body>

    <form  method="post"" >
      {%csrf_token%}

      <div class="count">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" onclick="clickedd">
        <label for="vehicle1"> I have a bike</label><br>
        <!-- <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> I have a bike</label><br>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" >
        <label for="vehicle1"> I have a bike</label><br> -->
        <h1 id="counting"></h1>
      </div>


      <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
      <label for="vehicle2"> I have a car</label><br>
      <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
      <label for="vehicle2"> I have a car</label><br>

      <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
      <label for="vehicle3"> I have a boat</label><br>

      <input type="submit" name="submit" value="submit">
    </form>



    <script>

      function clickedd()
      {
      if $('#vehicle1').is(':checked')
      {
        $('document').ready(function()
        {
          document.getElementById('vehicle1').innerHTML="Hello";
        }
      )}
    }

    </script>
  </body>
</html>
