<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}

<html>
<head>
	<title>User team</title>
	<!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Your selected players</h1>
			<h2>Choose Captain</h2>
			<form action="{% url 'Yorking:dashboard' %}" method="POST">
		{% csrf_token %}
				<h3>Batsmen</h3>
					{% for i in batsmen %}
						<input type="radio" name="captain" value="{{i.player_id}}">
						<label>{{i.player_name}}</label>
						<br>
					{% endfor %}
				<h3>Bowlers</h3>
					{% for i in bowler %}
					<input type="radio" name="captain" value="{{i.player_id}}">
					<label>{{i.player_name}}</label>
					<br>
					{% endfor %}
				<h3>All rounders</h3>
					{% for i in all_rounder %}
					<input type="radio" name="captain" value="{{i.player_id}}">
					<label>{{i.player_name}}</label>
					<br>
					{% endfor %}
				<h3>Wicket Keepers</h3>
					{% for i in wicket_keeper %}
					<input type="radio" name="captain" value="{{i.player_id}}">
					<label>{{i.player_name}}</label>
					<br>
					{% endfor %}
					<br>
					<input type="submit" name="submit">
					</form>


		</div>

	</div>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
{% endblock %}
